{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
    <h1 class="text">About Us</h1>
    <p class="text">Welcome to [Your Company Name], where innovation meets excellence. We are dedicated to delivering top-quality [products/services] that enhance the lives of our customers. With a team of passionate experts and years of experience, we strive to provide solutions that are reliable, efficient, and tailored to your needs. At the core of our mission is a commitment to customer satisfaction and continuous improvement. Join us on our journey to make a positive impact in [your industry/niche]. Your success is our priority!</p>
{% endblock %}
