{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>


        <p class="intro-text">{{ article.intro }}</p> <!-- Added class here -->
        <div class="alert alert-info">
            <p>{{ article.text }}</p>
            <p><b>Date: {{ article.date.strftime('%Y-%m-%d') }}</b></p>
        </div>
        <form action="{{ url_for('post_delete', id=article.id) }}" method="POST"  class="but">

            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="/posts/{{ article.id }}/update" class="btn btn-success">Update</a>
            <a href="{{ url_for('posts') }}" class="btn btn-primary">Back to Posts</a>
        </form>
    </div>
{% endblock %}
